@font-face {
  font-family: "circularstd"; /*Can be any text*/
  src: local("circularstd"), url("./fonts/circularstd.ttf") format("truetype");
}

@font-face {
  font-family: "pointpanther"; /*Can be any text*/
  src: local("pointpanther"), url("./fonts/pointpanther.otf") format("truetype");
}

.settings {
  padding: 0px 40px 0px 40px;
}

/* html {
  padding-left: 40px;
  padding-right: 40px;
} */

body {
  margin-top: 130px;
  z-index: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

p,
span,
h1,
h2,
h3,
h4,
div {
  font-family: "circularstd";
}

#Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;
}

#Feed {
  display: grid;
  grid-template-columns: 1fr;
}

#Logo {
  font-size: 48px;
  font-family: "pointpanther";
  font-weight: 700;
  margin-right: 100px;
  grid-area: "logo";
  padding-left: 40px;
}

header {
  display: grid;
  grid-template-areas:
    "logo searchbar connectwallet"
    "header2 header2 header2";
  height: 130px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px 50px;
  /* padding: 10px 40px 0px 40px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.header2 button {
  width: 100%;
  border-radius: 0;
  background-color: #ffffff;
  color: black;
}

.header2 .btn-primary {
  border-color: black;
  margin-top: -1px;
  margin-bottom: -2px;
  color: black;
}

.header2 {
  background: white;
  height: 55px;
  grid-area: header2;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-areas: " . filtersButton . collectionButton . . viewSettings";
  grid-template-rows: 1fr;
  margin-left: -4px;
  margin-right: -4px;
  border: 3px solid black;
}

.filters {
  padding: 20px;
}

.filtersButton {
  grid-area: filtersButton;
}

.collectionButton {
  grid-area: collectionButton;
}

.header2 button {
  outline: none;
}
.searchbar {
  width: 500px;
  grid-area: searchbar;
  align-self: center;
}

.viewSettings {
  grid-area: viewSettings;
  display: grid;
  grid-template-areas: "viewAs viewbutton1 viewbutton2 viewbutton3";
  flex-direction: column;
}
.viewButtons {
  display: flex;
  margin-top: -1px;
  margin-bottom: -2px;
}

.viewAs {
  grid-area: viewAs;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.header-layer1 {
  border: solid 1px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 40px;
  width: 100%;
}

.collectionBanner {
  width: 100%;
  height: 100%;
  margin-top: -32px;
}

.likeButtonEmpty {
  height: 30px;
  width: 30px;
  color: grey;
}

.likeButtonFilled {
  height: 30px;
  width: 30px;
  color: #ff0000;
}

.caret {
  height: 30px;
  width: 30px;
  color: grey;
}

.singleCardPrice {
  display: flex;
  justify-content: center;
  width: 100%;
}

.valuationBoxContainer {
  margin-top: -20px;
  display: flex;
  align-items: center;
}

.singleCardvaluationBoxContainer {
  margin-top: 0px;
  width: 100%;
}

.singleCardvaluationBoxContainer .assetValuation {
  width: 200px;
  margin-right: 0;
}

.valuation-overpriced {
  height: 100%;
  font-family: "CircularStd";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  background-color: #37f15c;
  padding-right: 10px;
  margin-right: 5px;
}

.connectwallet {
  width: 200px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  line-height: 1.5px;
  border-radius: 20px;
  align-self: center;
  justify-self: flex-end;
  margin-right: 40px;
  line-height: 1;
  color: white;
  background-color: black;
}

.startingpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startingpagecontents {
  text-align: center;
  width: 700px;
  overflow: hidden;
}

.flipcard {
  /* display: flex; */
  width: 1200px;
  height: 515px;
  margin-bottom: 30px;
}

.flipsubcontainer {
  height: 515px;
}

.flipImageContainer {
  margin-left: 40px;
  position: absolute;
  top: 300;
  left: 100;
}

.flipImg {
  border-radius: 10px;
  width: 512px;
  height: 512px;
}

.FlipData {
  position: relative;
  right: 0;
  width: 500px;
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tokenId {
  display: table-cell;
  vertical-align: middle;
  line-height: 2;
  font-size: 38px;
  margin-right: 15px;
}
.priceContainer {
  display: flex;
  align-items: center;
}
.price {
  font-size: 26px;
}
.ethlogo {
  height: 30px;
  width: 30px;
  vertical-align: sub;
}

.spyglassSvg {
  height: 200px;
  width: 200px;
  vertical-align: sub;
}

.assetValuation {
  padding: 10px;
  line-height: 0.5;
  width: 230px;
  border-radius: 5px;
}
.overpriced {
  background: red;
  color: white;
}

.underpriced {
  background: #37f15c;
  color: white;
}

.null {
  background: grey;
  color: white;
}

.Overvalued {
  color: red;
}

.Undervalued {
  color: green;
}

.novaluation {
  color: grey;
}

.collectionDetails {
  display: flex;
  justify-content: space-between;

  margin: 10px 0px 10px 0px;
}

.collectionDetails div {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px;
  text-align: center;
}

.table {
  font-size: 12px;
  margin-bottom: 0px !important;
}

.flipcontrols {
  margin-top: 40px;
}

.flipControlsLayer1 {
  margin: 40px auto 40px auto;
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.flipControlsLayer2 {
  display: flex;
  justify-content: center;
}

.buybutton {
  width: 200px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  line-height: 1.5px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  line-height: 1;
  color: white;
  background-color: #2875d8;
}

.buybutton img {
  width: 20px;
  height: 20px;
}

.warning {
  color: red;
}

.singleCardContainer {
  position: relative;
  width: 50%;
}

.singleCardContainer img {
  border-radius: none !important;
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 1;
} */

.singleCardContainer {
  display: inline-block;
  margin: 8px;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.singleCardContainer img {
  border-radius: none;
}

.singleCardContainer * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.singleCardContainer:before,
.singleCardContainer:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
  color: white;
}

.singleCardContainer img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.singleCardContainer .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

.singleCardContainer:hover:before,
.singleCardContainer:hover:after {
  transform: scale(1);
  opacity: 1;
  color: white;
}

.singleCardContainer:hover > img {
  opacity: 0.9;
}

.singleCardContainer:hover .overlay {
  opacity: 1;
  color: white;
}

.singlecardControls {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.singlecardlikebutton svg {
  height: 25px;
  width: 25px;
  justify-self: flex-end;
}

.singleCardButton .btn {
  width: 5px;
}

.card-title {
  margin-top: 10px;
}

.singleCardTable {
  font-size: 8px;
  padding: 20px;
  color: white;
}

.singleCardTable td {
  color: white;
  padding: 2px;
}

.singleCardTable th {
  color: white;
  padding: 2px;
  font-size: 12px;
  font-weight: 700;
}

.singleCardTitle {
  padding-top: 15px;
}

.singleCardAssetVal {
}
